/* Estilo para alinear los elementos a la derecha */
.text-end {
    text-align: right;
}

.d-flex.align-items-center {
    align-items: center;
}

.d-flex.flex-column.align-items-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.book-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.d-flex.align-items-center .form-control {
    margin-right: 5px;
}

.mt-4 {
    margin-top: 1.5rem;
}

.btn-warning {
    margin-top: 10px;
}
